body {
    font-family: 'Lato', sans-serif;
    color: #710909;
    font-weight: 300;
    background-color: #efeff5;
}
.text-muted {
    color: #bcbbbb;
}
.text-thin {
    font-weight: 100;
}
.title-super {
    font-size: 60px;
}
.title-logo {
    margin-top: 20px;
}
.img-circle {
    margin-top: 20px;
    height: 125px;
    border-radius: 50%;
    width: 125px;
}
.img-rounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h4 {
    text-align: center;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 4px solid #b1b1ce;
}
h3 {
    margin-left: 10px;
    font-size: 30px;
}
.direction {
    text-align: center;
}
a {
    color: #62629d;
}
